.program {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
}

.program-range {
  text-align: center;
}

.program-name {
  font-weight: bold;
}

.location {
  text-align: right;
  font-weight: 600;
}

.resume {
  width: 67.9rem;
}

.org-title-line {
  display: flex;
  justify-content: space-between;
}
