body {
  color: rgb(51, 51, 51);
  font-family: sans-serif;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meta h1 {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.meta h1 .first-name {
  font-weight: 100;
}

.meta .address {
  color: #5d5d5d;
}
