:root {
  font-size: 62.5%;
}

@media (max-width: 350px) {
  :root {
    font-size: 28%;
  }
}

@media (min-width: 351px) and (max-width: 400px) {
  :root {
    font-size: 31%;
    background-color: sandybrown;
  }
  .skills {
    width: 55px;
  }
}

@media (min-width: 401px) and (max-width: 450px) {
  :root {
    font-size: 35%;
  }
}

@media (min-width: 451px) and (max-width: 500px) {
  :root {
    font-size: 40%;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  :root {
    font-size: 45%;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  :root {
    font-size: 54%;
  }
}

body {
  font-size: 1.4rem;
  color: #333333;
  font-family: Source Sans Pro, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meta h1 {
  font-size: 4.8rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin-bottom: 0px;
}

.meta h1 .first-name {
  font-weight: 100;
}

.meta .address {
  color: #5d5d5d;
  font-style: italic;
  margin-bottom: 0.6rem;
}

.subheading {
  display: flex;
  flex-direction: row;
}

h2 {
  font-size: 3rem;
  margin: 0.4rem;
  margin-left: 0;
  margin-right: 0;
}

ul.roles {
  margin: 0.4rem;
}

.role-content {
  display: flex;
  justify-content: space-between;
}

/* .role-date-range {
  width: 125px;
  display: flex;
  justify-content: space-between;
} */

.org-name {
  font-weight: bold;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  width: 67.9rem;
}

.skill {
  padding: 0.2rem 0.4rem;
  margin: 0.2rem;
  background-color: #eee;
  border-radius: 0.2rem;
}

svg {
  height: 1.4rem;
  width: 1.4rem;
  margin-top: 0.1rem;
  margin-right: 0.5rem;
}

.contact {
  display: flex;
}

.contact-element {
  margin: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume {
  width: 67.9rem;
}
